* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(233, 233, 233);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(233, 233, 233);
}

header {
  flex: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 3vh;
}

header .titulo {
  flex: 30%;
  width: 100vw;
  text-align: center;
  font-size: 20px;
}

header .entradaTarefa {
  flex: 70%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

header .btnAddTarefa {
  display: flex;
  flex-direction: row;
  height: 70%;
  justify-content: center;
}

.entradaTarefa .inputTarefa {
  display: flex;
  flex-direction: row;
  height: 70%;
  justify-content: center;
}

.entradaTarefa input {
  font-size: 20px;
  height: 100%;
  width: 30vw;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  font-weight: 500;
}

.entradaTarefa select {
  font-size: 20px;
  height: 100%;
  width: 10vw;
  border: 2px solid black;
  text-align: start;
  padding-left: 5px;
  border-radius: 10px;
  margin-left: 0.3vw;
  cursor: pointer;
  font-weight: bold;
}

.entradaTarefa button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 100%;
  width: 3.6vw;
  margin-left: 0.3vw;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(4, 150, 40);
  font-weight: 600;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.entradaTarefa button:hover {
  transform: scale(1.03);
  box-shadow: rgb(4, 150, 40) 0px 1px 5px;
}

.listaItens {
  flex: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
}

.listaItens .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  max-width: 50vw;
  height: 8vh;
  overflow: hidden;
  margin-bottom: 1.5vh;
  border-radius: 10px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: max-height 0.5s ease;
  overflow: hidden;
  font-weight: 500;
}

.listaItens .item.concluido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  max-width: 50vw;
  height: 8vh;
  margin-bottom: 1.5vh;
  border-radius: 10px;
  background-color: rgb(76, 175, 80);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  order: 999;
  overflow: hidden;
  font-weight: 500;
}

.cat {
  height: 100%;
  width: 1vw;
  font-size: 20px;
  transition: width 0.5s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat p {
  transform: translateX(6vw);
  transition: transform 0.5s ease 0.1s;
}

.cat:hover {
  width: 9vw;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.cat:hover p {
  transform: translateX(0px);
}

.cat.trabalho {
  background-color: rgb(35, 35, 204);
}

.cat.pessoal {
  background-color: crimson;
}

.cat.estudos {
  background-color: rgb(218, 186, 7);
}

.cat.casa {
  background-color: rgb(100, 44, 7);
}

.cat.lazer {
  background-color: orangered;
}

.cat.financas {
  background-color: green;
}

.cat.projetos {
  background-color: rgb(47, 167, 155);
}

.inputEdicao{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80%;
  border: none;
  font-size: 20px;
}

.listaItens .item.concluido .btnMarcarConcluida button {
  background-color: #2e7d32;
  border: 3px solid #1b5e20;
}

.listaItens .item.concluido .textoTarefa p {
  text-decoration: line-through;
  opacity: 80%;
}

.btnMarcarConcluida {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 5%;
  height: 60%;
  margin-left: 0.3vw;
}

.textoTarefa {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 85%;
  height: 60%;
  margin-left: 0.3vw;
}

.btnExcluirEditar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 10%;
  height: 60%;
  margin-right: 0.76vw;
}

.btnMarcarConcluida button {
  height: 25px;
  width: 25px;
  background-color: white;
  border: 3px solid rgb(27, 27, 27);
  border-radius: 6px;
  cursor: pointer;
}

.textoTarefa p {
  font-size: 20px;
}

.btnExcluirEditar .editar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 53%;
  margin-right: 0.3vw;
  border-radius: 6px;
  border: none;
  background: rgb(13, 61, 220);
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease;
}

.btnExcluirEditar .excluir {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 53%;
  border-radius: 6px;
  border: none;
  background: rgb(190, 9, 9);
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease;
}

.btnExcluirEditar .editar:hover {
  transform: scale(1.05);
  box-shadow: rgb(13, 61, 220) 0px 1px 5px;
}

.btnExcluirEditar .excluir:hover {
  transform: scale(1.05);
  box-shadow: rgb(190, 9, 9) 0px 1px 5px;
}

.trabalho {
  color: rgb(35, 35, 204);
  font-weight: bold;
}

.pessoal {
  color: crimson;
  font-weight: bold;
}

.estudos {
  color: rgb(218, 186, 7);
  font-weight: bold;
}

.casa {
  color: rgb(100, 44, 7);
  font-weight: bold;
}

.lazer {
  color: orangered;
  font-weight: bold;
}

.financas {
  color: green;
  font-weight: bold;
}

.projetos {
  color: rgb(47, 167, 155);
  font-weight: bold;
}

@media (max-width: 768px) {
  .entradaTarefa button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    height: 70%;
    width: 10vw;
    padding: 10px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background-color: rgb(7, 105, 32);
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}

@media (max-width: 1024px) {
  .listaItens .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    max-width: 80vw;
    height: 8vh;
    margin-bottom: 1.5vh;
    border-radius: 10px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .listaItens .item.concluido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    max-width: 80vw;
    height: 8vh;
    margin-bottom: 1.5vh;
    border-radius: 10px;
    background-color: rgb(76, 175, 80);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .entradaTarefa .inputTarefa {
    flex-direction: column;
  }

  .entradaTarefa input {
    font-size: 20px;
    height: 70%;
    width: 60vw;
    padding: 10px;
    border-radius: 10px;
  }

  .entradaTarefa select {
    font-size: 20px;
    height: 90%;
    width: 60vw;
    border: 2px solid black;
    text-align: start;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 0.7vh;
    margin-left: 0;
  }

  .entradaTarefa button {
    height: 90%;
    margin-left: 0.8vw;
    width: 40px;
  }

  .entradaTarefa .btnAddTarefa {
    height: 100%;
    align-items: center;
  }
}

@media (max-width: 425px) {
  header .titulo {
    font-size: 15px;
  }

  .btnMarcarConcluida {
    margin-left: 2vw;
  }

  .textoTarefa {
    margin-left: 1vw;
  }

  .btnExcluirEditar .excluir {
    width: 7.6vw;
    font-size: 15px;
  }

  .entradaTarefa button {
    margin-left: 2vw;
  }
}