header {
    flex: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 3vh;
}

header .titulo {
    flex: 30%;
    width: 100vw;
    text-align: center;
    font-size: 20px;
}

header .entradaTarefa {
    flex: 70%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

header .btnAddTarefa {
    display: flex;
    flex-direction: row;
    height: 70%;
    justify-content: center;
}

.entradaTarefa .inputTarefa {
    display: flex;
    flex-direction: row;
    height: 70%;
    justify-content: center;
}

.inputTarefa input {
    font-size: 20px;
    height: 100%;
    width: 30vw;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    font-weight: 500;
}

.inputTarefa select {
    font-size: 20px;
    height: 100%;
    width: 10vw;
    border: 2px solid black;
    text-align: start;
    padding-left: 5px;
    border-radius: 10px;
    margin-left: 0.3vw;
    cursor: pointer;
    font-weight: bold;
}

.btnAddTarefa button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 100%;
    width: 3.6vw;
    margin-left: 0.3vw;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(4, 150, 40);
    font-weight: 600;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btnAddTarefa button:hover {
    transform: scale(1.03);
    box-shadow: rgb(4, 150, 40) 0px 1px 5px;
}



/* CATEGORIAS SELECT */
.trabalho {
    color: rgb(35, 35, 204);
    font-weight: bold;
}

.pessoal {
    color: crimson;
    font-weight: bold;
}

.estudos {
    color: rgb(218, 186, 7);
    font-weight: bold;
}

.casa {
    color: rgb(100, 44, 7);
    font-weight: bold;
}

.lazer {
    color: orangered;
    font-weight: bold;
}

.financas {
    color: green;
    font-weight: bold;
}

.projetos {
    color: rgb(47, 167, 155);
    font-weight: bold;
}


/* MEDIA QUERIES */
@media (max-width: 1024px) {
    .entradaTarefa .inputTarefa {
        flex-direction: column;
    }

    .entradaTarefa input {
        font-size: 20px;
        height: 70%;
        width: 60vw;
        padding: 10px;
        border-radius: 10px;
    }

    .entradaTarefa select {
        font-size: 20px;
        height: 90%;
        width: 60vw;
        border: 2px solid black;
        text-align: start;
        padding-right: 10px;
        border-radius: 10px;
        margin-top: 0.7vh;
        margin-left: 0;
    }

    .entradaTarefa button {
        height: 90%;
        margin-left: 0.8vw;
        width: 40px;
    }

    .entradaTarefa .btnAddTarefa {
        height: 100%;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .entradaTarefa button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        height: 70%;
        width: 10vw;
        padding: 10px;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        color: white;
        background-color: rgb(7, 105, 32);
        font-weight: 600;
        font-size: 30px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
}

@media (max-width: 425px) {
    header .titulo {
        font-size: 15px;
    }

    .btnMarcarConcluida {
        margin-left: 2vw;
    }

    .textoTarefa {
        margin-left: 1vw;
    }

    .btnExcluirEditar .excluir {
        width: 7.6vw;
        font-size: 15px;
    }

    .entradaTarefa button {
        margin-left: 2vw;
    }
}