.listaItens {
    flex: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2.5vh;
    width: 55vw;
    position: relative;
}
