.listaItens .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 55vw;
  max-width: 58vw;
  height: 8vh;
  overflow: hidden;
  margin-bottom: 1.5vh;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: max-height 0.5s ease;
  overflow: hidden;
  font-weight: 500;
}

.btnMarcarConcluida {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 5%;
  height: 60%;
  margin-left: 0.3vw;
}

.textoTarefa {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 85%;
  height: 60%;
  margin-left: 0.3vw;
}  

.btnExcluirEditar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 10%;
  height: 60%;
  margin-right: 0.76vw;
}

.btnMarcarConcluida button {
  height: 25px;
  width: 25px;
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(27, 27, 27);
  border-radius: 6px;
  cursor: pointer;
}

.textoTarefa p {
  font-size: 20px;
}

.btnExcluirEditar .editar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 53%;
  margin-right: 0.3vw;
  border-radius: 6px;
  border: none;
  background: rgb(13, 61, 220);
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease;
}

.btnExcluirEditar .editar:hover {
  transform: scale(1.05);
  box-shadow: rgb(13, 61, 220) 0px 1px 5px;
}

.btnExcluirEditar .excluir {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 53%;
  border-radius: 6px;
  border: none;
  background: rgb(190, 9, 9);
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease;
}

.btnExcluirEditar .excluir:hover {
  transform: scale(1.05);
  box-shadow: rgb(190, 9, 9) 0px 1px 5px;
}

.textoTarefa input{
  justify-content: flex-start;
  height: 80%;
  border: none;
  font-size: 20px;
  width: 25vw;
  font-weight: 400;
}  

.listaItens .item.concluido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 55vw;
  max-width: 55vw;
  height: 8vh;
  margin-bottom: 1.5vh;
  border-radius: 10px;
  background-color: rgb(76, 175, 80);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  order: 999;
  overflow: hidden;
  font-weight: 500;
}

.item.concluido .btnMarcarConcluida button {
  background-color: rgb(46, 125, 50);
  border: 3px solid rgb(27, 94, 32);
}  

.item.concluido .textoTarefa p {
  text-decoration: line-through;
  opacity: 80%;
}  

.cat {
  height: 100%;
  width: 1vw;
  font-size: 20px;
  transition: width 0.5s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat:hover {
  width: 9vw;
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.cat p {
  transform: translateX(6vw);
  transition: transform 0.5s ease;
}

.cat:hover p {
  transform: translateX(0px);
}

.cat.trabalho {background-color: rgb(35, 35, 204);}

.cat.pessoal {background-color: rgb(220, 20, 60);}

.cat.estudos {background-color: rgb(218, 186, 7);}

.cat.casa {background-color: rgb(100, 44, 7);}

.cat.lazer {background-color: rgb(255, 69, 0);}

.cat.financas {background-color: rgb(0, 128, 0);}

.cat.projetos {background-color: rgb(47, 167, 155);}

@media (max-width: 1024px) {
  .listaItens .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    max-width: 80vw;
    height: 8vh;
    margin-bottom: 1.5vh;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .listaItens .item.concluido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    max-width: 80vw;
    height: 8vh;
    margin-bottom: 1.5vh;
    border-radius: 10px;
    background-color: rgb(76, 175, 80);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}





