*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

header{
  flex: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  border: 1px solid red;
}

header .titulo{
  flex: 30%;
  width: 100vw;
  text-align: center;
  font-size: 20px;
  border: 1px solid green;  
}

header .entradaTarefa{
  flex: 70%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;  
  border: 1px solid purple;  
}

.entradaTarefa input{
  font-size: 20px;
  height: 75%;
  width: 30vw;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.entradaTarefa button{
  font-size: 20px;
  height: 75%;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

section{
  flex: 85%;
  width: 100vw;
  border: 1px solid blue;
}
