*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

header{
  flex: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  border: 1px solid red;
}

header .titulo{
  flex: 50%;
  width: 100vw;
  text-align: center;
  font-size: 20px;
  border: 1px solid green;  
}

header .entradaTarefa{
  flex: 50%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;  
  border: 1px solid purple;  
}

.entradaTarefa input{
  font-size: 20px;
  height: 60%;
}

.entradaTarefa button{
  font-size: 20px;
  height: 60%;
}

section{
  flex: 80%;
  width: 100vw;
  border: 1px solid blue;
}
